body {
  width: 500px;
  margin: 0 auto;
}
input {
  width: 50px;
  margin: 20px 0;
}
.gameArea {
  height: 500px;
  width: 500px;
  outline: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.gameButtons {
  /* height: 200px; */
  width: 500px;
  outline: 5px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.button {
  height: 100px;
  width: 100px;
  margin: 10px;
}

.cell {
  width: calc(100% / 3);
  height: calc(100% / 3);
  outline: 1px solid black;
}
.cell:hover {
  outline: 3px solid aqua;
}
.cell.lit {
  background-color: lightblue;
}
