.gameArea {
  height: 500px;
  width: 500px;
  outline: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cell {
  width: calc(100% / 3);
  height: calc(100% / 3);
  outline: 1px solid black;
}
.cell.lit {
  background-color: lightblue;
}
